nav.nav(role="navigation")
  a(href="/")
    include ../svg/logo.svg

  form.input-bar.input-bar--search
    input(placeholder="Search")
    button

  ul.nav__list
    li: a(href="/hydroponics") Hydroponics
    li: a(href="/soil") Soil
    li: a(href="/lighting") Lighting
    li: a(href="/environment") Environment
    li: a(href="/pest-control") Pest Control
    li: a(href="/propagation") Propagation
